<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>网站信息</title>  
    <link rel="stylesheet" href="__PUBLIC__/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/my.css">
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/pintuer.js"></script>  
</head>
<body>
<form method="get" action="<{:U('search')}>" id="listform">
<div class="panel admin-panel">
    <div class="panel-head"><input type="text" placeholder="请输入用户名" name="username" class="input" style="width:250px; line-height:17px;display:inline-block" />
          <button class="button border-main icon-search" type="submit" > 搜索</button></div>
    <div class="container" style="    width: 1050px;">
        <table class="table table-hover mt20 table-bordered table-hover">
            <tr>
                <th>Id</th>
                <th>用户名</th>
                <th>真实姓名</th>
                <th>密码</th>
                <th>性别</th>
                <th>手机号</th>
                <th>邮箱</th>
                <th>状态</th>
                <th>注册时间</th>
                <th>用户头像</th>
                <th>积分</th>
                <th>操作</th>
            </tr>
            <volist name="data" id="vo">
            <tr>
                <td><{$vo.id}></td>
                <td><{$vo.username}></td>
                <td><{$vo.name}></td>
                <td><{$vo.password}></td>
                <td><if condition="$vo.sex eq '0'">女
                    <elseif condition="$vo.sex eq '1' " />男
                    <else />保密
                    </if></td>
                <td><{$vo.phone}></td>
                <td><{$vo.email}></td>
                <td><if condition="$vo.state eq '0'">禁用
                    <else />启用
                    </if></td>
                <td><{$vo.addtime|date='Y-m-d H:i:s',###}></td>
                <td> 
                    <if condition="$data['picname'] eq '' ">
                        <img src="__PUBLIC__/images/Home/User/head0.png"  width="50" height="50" alt="">
                    <else/><img src="__PUBLIC__/images/user_img/<{$data.picname}>"  width="50" height="50" alt="">
                    </if>
                </td>
                <td><{$vo.integ}></td>
                <td><div class="button-group"> <a class="button border-main" href='<{:U("edit?id=$vo[id]")}>'><span class="icon-edit"></span> 修改</a> <a class="button border-red" href='<{:U("del?id=$vo[id]")}>' ><span class="icon-trash-o"></span> 删除</a> </div></td>
            </tr>
            </volist>
            <tr>
                <td colspan="12"><div class="pagelist"><{$page}></div></td>
            </tr>
        </table>
    </div>
</div>
</form>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script type="text/javascript">


    function user(page){
        var p = page;
        $.ajax({
            type:'get',
            url:'<{:U('User/index')}>',
            data:"p="+p,
            success:function(data){
                var $data = $(data);
                var target_div = $data.find("#tablelist");
                $('#tablelist').html(target_div);
            },
        })
    }
//搜索
function changesearch(){    
        
}

</script>
</body>
</html>